.appWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../../assets/images/mesh.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  overflow: hidden;

  .appHeader {
    display: flex;
    justify-content: center;
    width: 100%;

    h1 {
      user-select: none;
      color: white;
      margin-bottom: 10px;
    }
  }
}
