.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 16px;

  .icons {
    display: flex;
    align-items: center;
    position: absolute;
    width: 10%;
    top: 2%;
    right: 2%;

    .itemPinIcon {
      margin-right: 8px;
      cursor: pointer;

      svg {
        height: 20px;
        width: 20px;
        path {
          fill: rgb(40, 40, 40);
        }
      }

      &.pinned {
        svg path {
          fill: rgb(219, 168, 0);
        }
      }
    }

    .itemGrabIcon {
      svg {
        height: 20px;
        width: 20px;
        path {
          fill: rgb(40, 40, 40);
        }
      }

      &.isNotDraggable {
        cursor: not-allowed;
      }
    }
  }

  .itemText {
    font-size: 32px;
  }
}
